body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to top, #fddde6, #c3d9ed);
  color: #72686c;
  margin: 0;
  display: flex;
  height: 100vh;
}
.sidebar {
  background-color: #add8e6;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}
.sidebar a {
  text-decoration: none;
  color: #000;
  display: flex;
  align-items: center;
  margin: 10px 0;
  width: 80%;
  padding: 10px;
  border-radius: 25px;
  background-color: #fff;
  text-align: left;
}
.sidebar a:hover {
  background-color: #ddd;
}
.sidebar img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
.main-content {
  background-color: #fcd3e1;
  width: 80%;
  padding: 20px;
  text-align: center;
}
.stats-container {
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.stats-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stats-container img {
  width: 48px;
  height: 48px;
  margin-bottom: 10px;
}

.stats-container p {
  margin: 5px 0;
  font-size: 16px;
}

.stats-container h3 {
  margin: 5px 0;
  font-size: 24px;
}

.next-appointment {
  width: 30%;
  display: block;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
  margin: 20px 0;
  font-size: 24px;
}
#imagemLogo {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 140px;
  height: auto;
  margin: 10px;
}

.main-content-agendamento {
  background-color: #f7b2c4;
  width: 80%;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.calendar-icon {
  width: 140px;
  margin-bottom: 10px;
}

.choose-date {
  font-size: 18px;
  margin-bottom: 20px;
}

.calendar-container {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 400px;
}

#calendar {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ff0000;
  border-radius: 5px;
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1280px;
  margin-bottom: 20px;
  margin-top: 40px;
}

button {
  background-color: transparent;
  border: none;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button img {
  width: 48px;
  height: 48px;
  margin-bottom: 5px;
}

.confirm img,
.cancel img {
  border-radius: 50%;
  padding: 10px;
}
#totalPagarImg {
  width: 70px;
}
#totalPagar {
  max-width: 1280px;
  color: #eb8db5;
}
